
<div class="modal-header">
    <h3 class="modal-title">Vende productos!</h3>
</div>
<div class="modal-body">
    <div class="row" >
        <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
        <form class="form-inline" role="form">
            <div class="form-group" style="width: 250px; margin-bottom: 5px;">
                <div class="input-group">
                    <label class="sr-only" for="inputModalTicketEan13">EAN13</label>
                    <div class="input-group-addon">EAN13</div>
                    <input type="text" class="form-control"
                           id="inputModalTicketEan13" placeholder="Introduzca ean13"
                           ng-model="newLine.product.ean13"
                           ng-blur="searchProductByEan13()" select-on-click/>
                </div>
            </div>
            <div class="form-group" style="width: 250px; margin-bottom: 5px;">
                <label class="sr-only" for="inputModalTicketName">Nombre</label>
                <input ng-model="newLine.product.name" ng-change="searchProductLikeName()"
                       type="text" class="form-control" id="inputModalTicketName" placeholder="Introduzca nombre"/>
            </div>
            <div class="form-group" style="width: 130px; margin-bottom: 5px;">
                <div class="input-group">
                    <label class="sr-only" for="inputModalTicketCantidad">Cantidad</label>
                    <input ng-model="newLine.quantity" type="number" class="form-control" id="inputModalTicketCantidad" placeholder="Cantidad" select-on-click>
                </div>
            </div>
            <div class="form-group" style="width: 130px; margin-bottom: 5px;">
                <div class="input-group">
                    <label class="sr-only" for="inputModalTicketPrice">Precio Unitario</label>
                    <input ng-model="newLine.unitPrice" type="text" class="form-control" id="inputModalTicketPrice" placeholder="Precio">
                    <div class="input-group-addon">€</div>
                </div>
            </div>
        </form>
        <div class="row" ng-show="productList" style="width: inherit;">
            <table class="table" style="width: 90%;margin-left: 20px;">
                <tr>
                    <th>Nombre</th>
                    <th>EAN13</th>
                    <th>Tipo Producto</th>
                    <th>Precio</th>
                </tr>
                <tr ng-repeat="product in productList" >
                    <td><a ng-click="selectProduct($index)">{{product.name}}</a></td>
                    <td><a ng-click="selectProduct($index)">{{product.ean13}}</a></td>
                    <td>{{product.typeProduct}}</td>
                    <td>{{product.pvp  | currency:"&euro;"}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="insertLine()">Insertar</button>
    <button class="btn btn-warning" ng-click="cancel()">Salir</button>
</div>
