<div class="row">
    <h1>Tienda Angular</h1>
    <div class="btn-group ">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            Menu <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="pull-left" ng-click="goTo('newItem')">Nuevo producto</a>
            </li>
            <li><a class="pull-left" ng-click="goTo('listItems')">Ver productos</a></li>
        </ul>
    </div>
</div>