div.blockProduct {
    margin-left: auto;
    margin-right: auto;
    display: block;


}

div.menuTienda {
    margin-top: 20px;
    float : right;
}

form#loginForm{
    text-align: center;
}

div.userMenu {

}

div.listProductMenu{
    float : right;
}

div.titlePanel{
    font-size: 25px;
}

div.listProductFooter{
    text-align: right;
}