div.blockProduct {
    margin-left: auto;
    margin-right: auto;
    display: block;


}

div.menuTienda {
    margin-top: 20px;
    float : right;
}

form#loginForm{
    text-align: center;
}

div.userMenu {

}

div.listProductMenu{
    float : right;
}

div.titlePanel{
    font-size: 25px;
}

div.listProductFooter{
    text-align: right;
}

div.panel-body{
    font-family: "Courier";
    margin-left: 5px;
    margin-right: 5px;
}

.holder { border: 3px dashed #ccc; width: 100%; height: 100%; margin: auto;}
.holder:hover { border: 3px dashed #333; }

img {
    max-width: 100%;
    height: auto;
    /*width: auto/9; /* Bug de ie8 */
}

.btn-image{
    border: 10px groove #555;
}

.mySelect{
    float:right;
    margin-left: 5px;
}

.borrarImagen{
    color : #ccc;
    opacity: 0.5;
    position : absolute;
    right: 5px;
    font-size: 50px;
}

.borrarImagen:hover{
    opacity: 1;
    color: red;
}