<div class="row">
    <div class="col-xs-12">
        <div id="saveItemHeading" class="panel panel-default">
            <div class="panel-heading">
                <div id="inputTitle2">
                    <button type="button" class="btn btn-info pull-right" ng-click="back()">Volver</button>
                    Listar Productos
                </div>
            </div>
            <div class="panel-body">
                <div class="row" ng-repeat="item in itemList">
                    <div class="col-xs-12 mbl-list-item">
                        <div class="row">
                            <a ng-href="#item/{{item.id}}">
                                <div class="col-xs-8">
                                    <h4>{{item.title}}</h4>
                                    <p>Creado: {{item.timestamp}}</p>

                                    <p>Posición: ( {{item.position.latitude}}, {{item.position.longitude}} )</p>

                                    <div>{{item.description}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>