<div header></div>
<div class="row" >
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="titlePanel">
                            Lista de Productos
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <div class="listProductMenu">
                            <div class="btn-group" role="group">
                                <span>Nombre: <input type="text" ng-model="search.name"/></span>
                                <span>Ean13: <input type="text" ng-model="search.ean13"/></span>
                                <div class="mySelect">
                                    <select title="Tipo de producto" class="form-control" ng-model="search.typeProduct"
                                            ng-required="true" ng-options="type.text for type in typeProduct">
                                        <option value="">-- tipo producto --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Num Items {{itemsPerPage}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-click="groupToPages(8)"><span>ver 8</span></li>
                                    <li ng-click="groupToPages(16)"><span>ver 16</span></li>
                                    <li ng-click="groupToPages(32)">ver 32</li>
                                </ul>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Vista : {{viewMode}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-click="setViewMode('grid')"><span>Rejilla</span></li>
                                    <li ng-click="setViewMode('table')">Tabla</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="viewMode == 'grid'" class="row" >
                    <div class="col-md-3 col-xs-6 productBox" ng-repeat="product in pagedItems[currentPage] | filter:search">
                            <div class="row">
                                <a ng-href="#product/{{product.id}}"><h4>{{product.name}}</h4></a>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="blockProduct">
                                        <h6>{{product.ean13}}</h6>
                                        <p>Tipo: <span class="txtListProduct">{{product.typeProduct}}</span></p>
                                        <p>Precio:<span class="txtListProduct">{{product.pvp | currency:"&euro;"}}</span></p>
                                        <span class="glyphicon glyphicon-time" aria-hidden="true">:{{product.updatedAt | date : 'dd/MM/yyyy' : 'UTC'}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="thumbnail">
                                        <a ng-href="#product/{{product.id}}">
                                        <img ng-if="product.productImages[0]" ng-src="{{baseImageRoute+product.id+product.productImages[0].route}}" />
                                        <div ng-if="product.productImages[0] == undefined" class="holder">
                                            <span  class="glyphicon glyphicon-picture noImage"></span>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div ng-if="viewMode == 'table'" class="row">
                    <table class="table">
                        <tr>
                            <th>Nombre</th>
                            <th>EAN13</th>
                            <th>Tipo Producto</th>
                            <th>Precio</th>
                            <th>Creado</th>
                            <th>Actualizado</th>
                        </tr>
                        <tr ng-repeat="product in pagedItems[currentPage] | filter:search">
                            <td><a ng-href="#product/{{product.id}}">{{product.name}}</a></td>
                            <td><a ng-href="#product/{{product.id}}">{{product.ean13}}</a></td>
                            <td>{{product.typeProduct}}</td>
                            <td>{{product.pvp  | currency:"&euro;"}}</td>
                            <td>{{product.createdAt | date : 'dd/MM/yyyy' : 'UTC'}}</td>
                            <td>{{product.updatedAt | date : 'dd/MM/yyyy' : 'UTC'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <div class="listProductFooter">
                <nav>
                    <ul class="pagination ">
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()">« Prev</a>
                        </li>

                        <li ng-repeat="n in range(pagedItems.length) "
                            ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                            <a href ng-bind="n + 1"></a>
                        </li>

                        <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                            <a href ng-click="nextPage()">Next »</a>
                        </li>
                    </ul>
                </nav></div>
            </div>
        </div>
    </div>
</div>