<div header></div>
<div class="row" >
    <div class="panel panel-default">
        <div class="panel-heading"><h4><span editable-text="product.name">{{product.name}}</span><span  editable-text="product.ean13"> - {{product.ean13}}</span></h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">PVP: </div>
                        <div class="col-md-8"><span class="" editable-text="product.pvp">{{product.pvp | currency:"&euro;"}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Tipo:</div>
                        <div class="col-md-8">
                            <span editable-select="product.typeProduct" e-ng-options="s.value as s.text for s in typeProduct">
                                {{ showStatus() }}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Descripción:</div>
                        <div class="col-md-8"><span editable-textarea="product.description">{{product.description || 'vacio'}}</span></div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">Creado:</div>
                        <div class="col-md-8"><span>{{product.createdAt | date : 'dd/MM/yyyy hh:mm a'}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Actualizado:</div><div class="col-md-8"><span>{{product.updatedAt | date : 'dd/MM/yyyy hh:mm a'}}</span>
                    </div></div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-8"><input class="form-control" type="file" ng-file-select multiple/></div></div>

                </div>
                <div class="col-md-6">
                    <div class="row">
                        <h4>Imagenes existentes</h4>
                        <div class="col-md-4" ng-repeat="image in product.productImages">
                            <div class="thumbnail">
                                <div class="holder">
                                    <span ng-click="deleteOldImage($index)" class="glyphicon glyphicon-remove-circle borrarImagen"></span>
                                    <img src="{{baseImageRoute+image.route}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Imagenes para subir</h4>
                        <div class="col-md-4" ng-repeat="image in images">

                            <div class="thumbnail">
                                <div class="holder">
                                    <span ng-click="deleteNewImage($index)" class="glyphicon glyphicon-remove-circle borrarImagen"></span>
                                    <img ng-src="{{image}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <button type="button" class="btn btn-info">Guardar</button>
                <button type="button" class="btn btn-info" ng-click="reset()">Restaurar</button>
            </div>
        </div>
    </div>
</div>